.dialogs {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'd m';
}

.dialogItems {
    grid-area: d;
    padding: 10px;

}

.dialogItems a {
    text-decoration: none;
    color: black;
}

.messages {
    grid-area: m;
    padding: 10px;
    color: black;
}